/*webkit-sassui-backdrop Start*/
.webkit-sassui-backdrop {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes webkit-sassui-backdrop-fade-in {
  to {
    background: rgba(0, 0, 0, 0.3);
  }
}

@keyframes webkit-sassui-backdrop-fade-out {
  from {
    background: rgba(0, 0, 0, 0.3);
  }
  to {
    background: transparent;
  }
}

.webkit-sassui-backdrop.visible-true, .webkit-sassui-backdrop[data-visible=true] {
  background: transparent;
  animation: webkit-sassui-backdrop-fade-in 0.5s ease-in forwards;
}

.webkit-sassui-backdrop, .webkit-sassui-backdrop.visible-false, .webkit-sassui-backdrop[data-visible=false] {
  animation: webkit-sassui-backdrop-fade-out 0.5s ease-in forwards;
}

.webkit-sassui-backdrop[data-position=fixed] {
  position: fixed;
}

.webkit-sassui-backdrop[data-position=absolute] {
  position: absolute;
}

/*webkit-sassui-backdrop End*/
button {
  display: block;
  width: 100%;
  padding: 14px;
  border-radius: 5px;
  background: #007aff;
  color: #fff;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

button:active {
  background: #0062cc;
}
