/*webkit-sassui-backdrop Start*/
$webkit-sassui-backdrop-options:(
  duration: 300ms,
  opacity: 0.4,
  color: #000,
  position-list: (fixed, absolute)
)!default;

.webkit-sassui-backdrop{
  /* prettier-ignore-start */
  $duration: map-get($map: $webkit-sassui-backdrop-options, $key: duration);
  $opacity: map-get($map: $webkit-sassui-backdrop-options, $key: opacity);
  $color: map-get($map: $webkit-sassui-backdrop-options, $key: color);
  $position-list: map-get($map: $webkit-sassui-backdrop-options, $key: position-list);
  /* prettier-ignore-end */

  top:0;
  right:0;
  bottom:0;
  left:0;


  &.is-transparent{
    background: rgba($color, 0);
  }

  @keyframes webkit-sassui-backdrop-fade-in {
    to {
      background: rgba($color, $opacity);
    }
  }

  @keyframes webkit-sassui-backdrop-fade-out {
    from {
      background: rgba($color, $opacity);
    }
    to {
      background: rgba($color, 0);
    }
  }

  &.visible-true,
  &[data-visible=true] {
    background: rgba($color, 0);
    animation: webkit-sassui-backdrop-fade-in $duration ease-in forwards;
  }

  &,
  &.visible-false,
  &[data-visible=false] {
    animation: webkit-sassui-backdrop-fade-out $duration ease-in forwards;
  }

  @each $value in $position-list{
    &.position-#{$value},
    &[data-position=#{$value}]{
      position: $value;
    }
  }
}
/*webkit-sassui-backdrop End*/
