/*webkit-sassui-backdrop Start*/
$webkit-sassui-backdrop-options:(
  duration: 0.5s,
  opacity: 0.3,
  position-list: (fixed, absolute),
  color-map:(
    black: #000,
    white: #fff
  )
);

.webkit-sassui-backdrop{
  $duration: map-get($map: $webkit-sassui-backdrop-options, $key: duration);
  $opacity: map-get($map: $webkit-sassui-backdrop-options, $key: opacity);
  $position-list: map-get($map: $webkit-sassui-backdrop-options, $key: position-list);
  $color-map: map-get($map: $webkit-sassui-backdrop-options, $key: color-map);
  top:0;
  right:0;
  bottom:0;
  left:0;

  @keyframes fade-in {
    to {
      opacity: $opacity;
    }
  }

  @keyframes fade-out {
    from {
      opacity: $opacity;
    }
    to {
      opacity: 0;
    }
  }

  @each $value in $position-list{
    &[data-position=#{$value}]{
      position: $value;
    }
  }

  @each $key,$value in $color-map{
    &.color-#{key},
    &[data-color=#{$key}]{
      background:$value;
    }
  }

  &.visible-true,
  &[data-visible=true]{
    opacity: 0;
    animation: fade-in $duration ease-in forwards;
  }

  &,
  &.visible-false,
  &[data-visible=false]{
    animation: fade-out $duration ease-in forwards;
  }
}
/*webkit-sassui-backdrop End*/
